<ion-view title="Details" id="page2">
   
    <!-- DETAILS NAVIGATION ON TOP -->
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" side="primary">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <button class="button ion-ios-heart-outline" ng-click="doSomething()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!-- DETAILS NAVIGATION ON TOP -->

    <ion-content padding="true" class="has-header">
        
        <div class="list card" id="details-card29">

            <div id="image_div">
                <img id="post_image" src="{{data.picture}}" alt="">
            </div>

            <div class="item item-body" id="details-list-item-container4">
                <div id="details-markdown4">
                    <p>{{data.username}}</p>
                </div>
            </div>

        </div>
        <!-- <form id="details-form1" class="list">
            <label class="item item-input" id="details-textarea3">
                <span class="input-label">TAGS</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="details-textarea4">
                <span class="input-label">nike</span><textarea placeholder=""></textarea>
            </label>
        </form> --><!-- 
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <span class="input-label">test</span> -->
                <!-- <input type="text" placeholder="lookin' good"> -->
            <!-- </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Brands</span>
                <input type="text" placeholder="nike, addidas">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Tags</span>
                <input type="text" placeholder="t-shirt, jeans">
            </label>
        </div> -->
        <div class="card">
            <div class="item item-divider">
                Description
            </div>
            <div class="item item-text-wrap">
                {{data.description}}
            </div>
            <div class="item item-divider">
                Brands
            </div>
            <div class="item item-text-wrap">
                {{data.brands}}
            </div>
            <div class="item item-divider">
                Tags
            </div>
            <div class="item item-text-wrap">
                {{data.tags}}
            </div>
        </div> <!-- card end -->

    </ion-content>
</ion-view>