<ion-view title="Home" id="page1">

    <div class="bar bar-light bar-header">
        <!-- <button class="button icon ion-navicon"></button> -->
        <!-- <button class="button">Filter</button> -->
        <button class="button icon-left ion-funnel" id="funnel" ng-click="showFilter()"></button>
        <h1 class="title">home.html</h1>
        <button class="button icon-right ion-search" ng-click="showSearch()"></button>
    </div>
    
    <ion-content padding="true" class="has-header">

        <div id="filter" ng-class="filter">
            <ion-item class="text-center" id="" ui-sref="mOSTRECENT">Most Recent</ion-item>
            <ion-item class="text-center" id="" ui-sref="mOSTRECENT">Most Liked</ion-item>
            <ion-item class="text-center" id="" ui-sref="mOSTRECENT">Most Visited</ion-item>
        </div>


        <!-- class="item-input-inset" -->
        <div id="search" ng-class="search" class="padding">
            <!-- <label > -->
                <!-- <i class="icon ion-ios7-search placeholder-icon"></i> -->
                <input id="search" type="search" placeholder="search" class="item-input-wrapper textbox-search">
            <!-- </label> -->
        </div>
        
        <!-- <div id="home-button-bar1" class="button-bar"> -->
        <!-- added path to UPLOADPIC -->
            <!-- <button id="home-button4" class="button button-positive 
            button-block" ui-sref="uPLOADPIC">Filter</button> -->
            <!-- <button id="home-button6" class="button button-positive  button-block">Search</button> -->
        <!-- </div> -->
        
        
        <!-- keys=the number in the array/ post the object inside the array -->
        <div ng-repeat="(key, post) in posts">{{key}}
        
            <!-- <div class="list card" id="home-card22" ui-sref="details">
                <div class="list card" id="home-card21">
                    <div style="margin: 0px;">
                    <img src="img/kid.jpg" alt="" style="width:380px; height:251px; vertical-align: center;"> -->
                        <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
                    <!-- </div>
                </div>
                <ion-item class="text-center" id="home-list-item26" ui-sref="details">Username</ion-item>
            </div>

            <div class="list card" id="home-card24" ui-sref="details">
                <div class="list card" id="home-card23">
                    <div style="margin: 0px; ">
                    <img src="img/kid.jpg" alt="" style="width:380px; height:251px; vertical-align: center;"> -->
                        <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
                    <!-- </div>
                </div>
                <ion-item class="text-center" id="home-list-item25" ui-sref="details">Username</ion-item>
            </div> -->

            <!-- <div class="list card" id="home-card26">
                <div class="list card" id="home-card25">
                    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                    </div>
                </div>
                <ion-item class="text-center" id="home-list-item27" ui-sref="details">Username</ion-item>
            </div> -->

            <div class="list card" id="home-card26" ui-sref="details({postid: key})">
                <div class="list card" id="home-card25">
                    <div id="image_div">
                        <img id="post_image" src="{{ post.picture }}" alt="img/kid.jpg">
                    </div>
                </div>
                <ion-item class="text-center" id="home-list-item27">{{post.username}}</ion-item>
            </div>

        </div> <!-- key end -->
    
    </ion-content>
</ion-view>