<ion-view title="menu" id="page6">
    <ion-content scroll="false" padding="false">

        <ion-tabs class="tabs-striped">
            <ion-tab title="TRACK" class="tab-button button-block" >
                <div class="track-wrapper">
                    <div class="info-window"><p class="menu-header">POSTS CREATED</p><p class="entry">0</p></div>
                    <div class="info-window"><p class="menu-header">NUMBER OF LIKES</p><p class="entry">0</p></div>
                    <div class="info-window"><p class="menu-header">SUCCESSFUL CLICK-THROUGHS</p><p class="entry">0</p></div>
                </div>
            </ion-tab>
            <ion-tab class="tab-button button-block" title="HISTORY">
                <!-- Tab 2 content -->
            </ion-tab>
            <ion-tab class="tab-button button-block" title="SETTINGS">
                <!-- Tab 3 content -->
            </ion-tab>
        </ion-tabs>

    </ion-content>
</ion-view>