<ion-view title="menu" id="page6">
    <ion-content scroll="false" padding="false">

        <ion-tabs class="tabs-striped">
            <ion-tab title="TRACK" class="tab-button button-block" >
                <!-- Tab 1 content -->
            </ion-tab>
            <ion-tab class="tab-button button-block" title="HISTORY">
                <!-- Tab 2 content -->
            </ion-tab>
            <ion-tab class="tab-button button-block" title="SETTINGS">
                <!-- Tab 3 content -->
            </ion-tab>
        </ion-tabs>

    </ion-content>
</ion-view>