<ion-view title="MOST RECENT" id="page3">
    <ion-nav-bar>
            <ion-nav-back-button class="button-clear" side="primary">
                <i class="ion-arrow-left-c"></i> Back
            </ion-nav-back-button>
            <!-- <ion-nav-buttons side="secondary">
                <button class="button ion-ios-heart-outline" ng-click="doSomething()"></button>
            </ion-nav-buttons> -->
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

            <!-- step 1 in controllers.js -->
            <!-- Step 2 get the mostresents with S cuz its an array and add
            //an ng-repeat cuz its an array right, ng-repeat="(key, mostrecent) in mostrecents"
            //and user the same template for the loop with mostrecent as a variable and reach
            //the properties in the object picture and username   -->
        <div class="list card" ng-repeat="(key, mostrecent) in mostrecents"  id="mostrecent-card{{key}}">
            <!-- just repeats the table in firebase because of ng-repeat -->
            <div id="image_div">
                <img id="post_image" src="{{ mostrecent.picture }}" alt="">
                <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
            </div>

            <div class="item item-body" id="mOSTRECENT-list-item-container2">
                <div id="mOSTRECENT-markdown2" style="color:#000000;text-align:center;">
                    <p style="margin-top:0px;">{{ mostrecent.username}}</p>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
