<ion-view title="MOST RECENT" id="page3">
<ion-nav-bar>
        <ion-nav-back-button class="button-clear" side="primary">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <!-- <ion-nav-buttons side="secondary">
            <button class="button ion-ios-heart-outline" ng-click="doSomething()"></button>
        </ion-nav-buttons> -->
    </ion-nav-bar>
<!-- NAVIGATION FOR THIS PAGE -->
    <!-- <div class="bar bar-light bar-header">
        <button class="button icon-left ion-funnel"></button>
        <h1 class="title">most recent</h1>
        <button class="button icon-right ion-search"></button>
    </div> -->
<!-- NAVIGATION FOR THIS PAGE -->

    <ion-content padding="true" class="has-header">
        
        <div class="list card" id="mostrecent-card27">
            
            <div id="image_div">
                <img id="post_image" src="img/kid.jpg" alt="">
                <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
            </div>
            
            <div class="item item-body" id="mmostrecent-list-item-container2">
                <div id="mostrecent-markdown2" style="color:#000000;text-align:center;">
                    <p style="margin-top:0px;">USERNAME</p>
                </div>
            </div>

        </div>

        <div class="list card" id="mostrecent-card28">

            <div id="image_div">
                <img id="post_image" src="img/kid.jpg" alt="">
                <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
            </div>

            <div class="item item-body" id="mostrecent-list-item-container3">
                <div id="mostrecent-markdown3" style="color:#000000;text-align:center;">
                    <p style="margin-top:0px;">USERNAME</p>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>