<ion-view title="POST" id="page5">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="pOST-form4" class="list">
            <label class="item item-input" id="pOST-input3">
                <input ng-model="data.user.name" type="text" placeholder="ADD DESCRIPTION">
            </label>
            <label class="item item-input" id="pOST-input4">
                <input type="text" placeholder="ADD TAGS">
            </label>
            <label class="item item-input" id="pOST-input6">
                <input type="text" placeholder="ADD LOCATION">
            </label>
        </form>
        <ion-list id="pOST-list6">
            <ion-item id="pOST-list-item47">SHARE</ion-item>
            <ion-item class="item-icon-left item-icon-right" id="pOST-list-item44" href="#" onclick="window.open('http://fb.com', '_system', 'location=yes'); return false;">
                <i class="icon No Icon"></i>
                <i class="icon ion-social-facebook-outline"></i>
            </ion-item>
        </ion-list>
        <ion-list id="pOST-list7">
            <ion-item class="item-icon-right" id="pOST-list-item45">
                <i class="icon ion-social-twitter-outline"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="pOST-list-item46">
                <i class="icon ion-social-instagram-outline"></i>
            </ion-item>
        </ion-list>
        <button id="pOST-button14" class="button button-positive  button-block">POST</button>
    </ion-content>
</ion-view>