<ion-view title="POST" id="page5">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" side="primary">
            <i class="ion-android-arrow-back icon-colour"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="false" class="has-header">
            <!-- 2 GET an image_response this is the image that has been read.
            we need the info to come up on this image -->
            <!--temporary image and nodes-->

            <img src="img/outfit.jpg" alt="" style="width:100%; height:inherit;">
            <div class="circle node1"></div>
            <div class="circle node2"></div>
            <div class="circle node3"></div>


        <div class="nodesContainer">
           <img src="img/outfit.png" alt="" style="width:100%; height:inherit;">
           <div id="moveNode" class="circle node1"></div>
           <div id="nodeTwo" on-touch="getNodePosition($event)" on-drag="moveNode($event)" class="circle"></div>
           <div class="circle node3"></div>
        </div>



        <form id="post-form4" class="list">

            <label class="item item-input" id="post-input3">
                <!-- g variable. the image response from cloudsight api -->
                <input ng-model="g" type="text" placeholder="Add a description">
            </label>

            <label class="item item-input" id="post-input4">
                <input type="text" placeholder="Add some tags">
            </label>

            <label class="item item-input" id="post-input6">
                <input type="text" placeholder="Add a location">
            </label>

        </form>

        <ion-list id="post-list6">
            <ion-item id="post-list-item47" class="text-center">SHARE</ion-item>
        </ion-list>

        <div class="row" id="post-list7">

            <ion-item class="col text-center" id="post-list-item44" onclick="window.open('http://fb.com', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-facebook-outline"></i>
            </ion-item>

            <ion-item class="col text-center" id="post-list-item45" onclick="window.open('http://twitter.com', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-twitter-outline"></i>
            </ion-item>

            <ion-item class="col text-center" id="post-list-item46" onclick="window.open('http://instagram.com', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-instagram-outline"></i>
            </ion-item>

        </div>

        <button id="post-button14" class="button" ui-sref="home">POST</button>

    </ion-content>



</ion-view>
