<ion-view title="UPLOAD PIC" id="page4" >
    <ion-content scroll="false" padding="false" class="">

        <ion-tabs class="tabs-striped">
            <ion-tab class="tab-button button-block" title="CAMERA" >
                <div style="margin: 0px; background-color:#e9e2d7; height:100%;">
                    <img src="img/outfit.jpg" alt="" style="margin-top: 45px">
                </div>
                <button id="uploadpic-button13" class="camera-button" ui-sref="post"></button>
            </ion-tab>
            <ion-tab class="tab-button button-block" title="GALLERY">
                <!-- Tab 2 content -->
            </ion-tab>
        </ion-tabs>

    </ion-content>
</ion-view>
