<ion-view title="UPLOAD PIC" id="page4">

    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" side="primary">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <!-- <ion-nav-buttons side="secondary">
            <button class="button ion-ios-heart-outline" ng-click="doSomething()"></button>
        </ion-nav-buttons> -->
    </ion-nav-bar>



    <ion-content padding="true">
        
        <div id="uPLOADPIC-button-bar2" class="button-bar">
            <button id="uPLOADPIC-button10" class="button button-positive  button-block">CAMERA</button>
            <button id="uPLOADPIC-button12" class="button button-positive  button-block">GALLERY</button>
        </div>

        <div style="margin: 0px;">
        <img src="img/kid.jpg" alt="" style="width:377px; height:inherit;">
            <!-- <i class="icon ion-image" src="www/img/kid.jpg" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" ></i> -->
        </div>

        <button id="uPLOADPIC-button13" class="button button-positive  button-block">TAKE PICTURE</button>

    </ion-content>

</ion-view>